body {
  background-color: #140C1A;
}

nav, footer {
  background-color: #040102;
}

h1 {
  text-align: center;
  color: #C061B1;
  font-size: 62px;
}

h2 {
  color: #62CB77;
}

p, li, a {
  color: #6FBFCC;
}

h2 a {
  color: #62CB77;
}

nav a {
  color: #BFBFBF;
}

nav, footer li {
  color: #BFBFBF;
}

nav, footer li {
  color: #040102;
}

ul.tags li{
  display:inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.tags li:after {
  content: ", ";
}

ul.tags li:last-child:after {
  content: "";
}

nav ul li.nav:before {
  content: "/ ";
  width: 1.2em;
  color: #62CB77;
}

footer ul li:before {
  content: "/ ";
  width: 1.2em;
  color: #62CB77;
}

#separator {
  border-bottom: 2px solid #62CB77;
}

a.title {
  color: #1F6D53;
}

a.title:hover {
  color: #62CB77;
}

#navdrop {
   background: #040102;
}

.nav ul li a:hover {
  background: #62CB77;
  color:#FFFFFF;
}

#icon {
   fill: #1F6D53;
}

#icon:hover {
   fill: #62CB77;
}
