body {
  background-color: #f1f1f1;
}

nav, footer {
  background-color: #B0171F;
}

h1 {
  text-align: center;
  color: #6c0e13;
  font-size: 62px;
}

p, li, a {
  color: #000000;
}

nav a {
  color: #BFBFBF;
}

nav, footer li {
  color: #BFBFBF;
}

nav ul li.nav:before {
  content: "/ ";
  width: 1.2em;
  color: #6c0e13;
}

a.title {
  color: #6c0e13;
}

a.title:hover {
  color: #f8d1d3;
}

#icon {
   fill: #6c0e13;
}

#icon:hover {
   fill: #f8d1d3;
}
