body {
  background-color: #f1f1f1;
}

nav, footer {
  background-color: #B0171F;
}

h1 {
  text-align: center;
  color: #6c0e13;
  font-size: 62px;
}

p, li, a {
  color: #000000;
}

nav a {
  color: #BFBFBF;
}

nav, footer li {
  color: #BFBFBF;
}

nav ul li:before {
  content: "/ ";
  width: 1.2em;
  color: #6b00b8;
}

li.title {
  color: #6c0e13;
}

li.title:hover {
  color: #D3D2D2;
}
