body {
  background-color: #272B30;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
}

div#header {
  text-align: center;
}

div#page-description {
  text-align: center;
}

div#content {
  margin: 60px auto;
  width: 70%;
}

div#column {
  float: left;
  padding: 5px;
  width: 48%;
}

div#row:after {
  content: "";
  display: table;
  clear: both;
}

nav, footer {
  width: 100%;
  background-color: #17191c;
  border-left: none;
  border-right: none;
}

nav, footer ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #969595;
}

nav ul li, footer ul li {
  list-style: disc;
  display: inline;
  font-size: medium;
  text-align: center;
  width: 12.5%;
  /* fallback for non-calc() browsers */
  width: calc(100% / 8);
}

nav ul li:first-child {
  font-size: xx-large;
  content: "";
  border-left: none;
}

footer ul li:first-child {
  border-left: none;
}

nav ul li:before {
  content: "/ ";
  width: 1.2em;
  color: #6b00b8;
}

nav ul li.title:before {
  content: "";
  border-left: none;
}

li.title {
  color: #878787;
  padding-right: 30px;
  padding-left: 0px;
}

li.title:hover {
  color: #D3D2D2;
}

nav, footer ul li a {
  display: block;
  text-decoration: none;
  color: #616161;
  padding: 10px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #ffffff;
}

h1 {
  color: #8fa650;
  margin: 0;
  font-size: 36px;
}

h1.page-title {
  color: #D3D2D2;
  text-align: center;
  font-size: 62px;
}

h2 {
  color: #5f869c;
}

h3 {
  color: #e66f19;
}

p {
  color: #D3D2D2;
}

footer {
  border-top: 1px solid #d5d5d5;
  font-size: .8em;
}

ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
}

.container img {
  width: 100%;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
