#page-footer-wrapper
{background-color:#114D4D!important;}
#navigation-top {background-color:#114D4D!important;}
#page-body-wrapper {background-color:#E0E4CE!important;}
#banner-area-wrapper {background-color:#E0E4CE!important;}
#banner-area-wrapper h1 {color:#27191C!important;}
h1.entry-title a {color:#6E9987!important;}
p,li,h1 {color:#27191C!important;}
a {color:#6E9987!important;}
i.icon-bookmark {color:#114D4D!important;}
i.icon-tag {color:#114D4D!important;}
i.icon-comment {color:#114D4D!important;}
i.icon-user {color:#114D4D!important;}
.horizontal-navigation-bar nav.main-nav .folder .subnav ul{background-color:#114D4D}
#mobile-navigation{background-color:#114D4D!important;}
#mobile-navigation-label{background-color:#114D4D!important;}
