body {
  background-color: #E0E4CE;
}

nav, footer {
  background-color: #114D4D;
}

h1 {
  text-align: center;
  color: #27191C;
  font-size: 62px;
}

p, li, a {
  color: #27191C;
}

nav a {
  color: #BFBFBF;
}

nav, footer li {
  color: #BFBFBF;
}

nav, footer li {
  color: #27191C;
}

nav ul li.nav:before {
  content: "/ ";
  width: 1.2em;
  color: #27191C;
}

a.title {
  color: #6E9987;
}

a.title:hover {
  color: #27191C;
}

#icon {
   fill: #6E9987;
}

#icon:hover {
   fill: #27191C;
}
