body {
  background-color: #140C1A;
}

nav, footer {
  background-color: #040102;
}

h1 {
  text-align: center;
  color: #62CB77;
  font-size: 62px;
}

p, li, a {
  color: #6FBFCC;
}

nav a {
  color: #BFBFBF;
}

nav, footer li {
  color: #BFBFBF;
}

nav, footer li {
  color: #040102;
}

nav ul li:before {
  content: "/ ";
  width: 1.2em;
  color: #6b00b8;
}

li.title {
  color: #62CB77;
}
