body {
  background-color: #140C1A;
}

nav, footer {
  background-color: #040102;
}

h1 {
  text-align: center;
  color: #62CB77;
  font-size: 62px;
}

p, li, a {
  color: #6FBFCC;
}

nav a {
  color: #BFBFBF;
}

nav, footer li {
  color: #BFBFBF;
}

nav, footer li {
  color: #040102;
}

nav ul li.nav:before {
  content: "/ ";
  width: 1.2em;
  color: #62CB77;
}

a.title {
  color: #1F6D53;
}

a.title:hover {
  color: #62CB77;
}

#navdrop {
   background: #040102;
}

.nav ul li a:hover {
  background: #62CB77;
  color:#FFFFFF;
}

#icon {
   fill: #1F6D53;
}

#icon:hover {
   fill: #62CB77;
}
