#page-footer-wrapper
{background-color:#040102;}
#navigation-top {background-color:#040102;}
#page-body-wrapper {background-color:#140C1A;}
#banner-area-wrapper {background-color:#140C1A;}
#banner-area-wrapper h1 {color:#C362B3!important;}
#main-navigation {color:#C362B3;}
h1.entry-title a {color:#C362B3;}
p,h1 {color:#81BFCC!important;}
a {color:#62CB77!important;}
a:hover {color:#CE0D1E!important;}
a:visited {color:#62CB77!important;}
i.icon-bookmark {color:#C362B3;}
i.icon-tag {color:#C362B3;}
i.icon-comment {color:#C362B3;}
i.icon-user {color:#C362B3;}
ul li a{color:#C362B3;}
ul li{color:#C362B3;}
ul{color:#C362B3;}
  .horizontal-navigation-bar nav.main-nav .folder .subnav ul{background-color:#040102}
  #mobile-navigation{background-color:#040102!important;}
#mobile-navigation-label{background-color:#040102!important;}
