<div class="stat-block">
<hr class="orange-border" />
  <div class="section-left">
    <div class="creature-heading">
      <h1>Brumrik Oathkeeper</h1>
      <h2>Level 1 Cleric, lawful good</h2>
    </div> <!-- creature heading -->
  <svg height="5" width="100%" class="tapered-rule">
    <polyline points="0,0 400,2.5 0,5"></polyline>
  </svg>
    <div class="top-stats">
      <div class="property-line first">
        <h4>Armor Class</h4>
        <p>15 (scale mail and heavy shield)</p>
      </div> <!-- property line -->
      <div class="property-line">
        <h4>Hit Points</h4>
        <p>12</p>
      </div> <!-- property line -->
      <div class="property-line last">
        <h4>Speed</h4>
        <p>20ft.</p>
      </div> <!-- property line -->
      <svg height="5" width="100%" class="tapered-rule">
      <polyline points="0,0 400,2.5 0,5"></polyline>
    </svg>
      <div class="abilities">
        <div class="ability-strength">
          <h4>STR</h4>
          <p>11 (0)</p>
        </div> <!-- ability strength -->
        <div class="ability-dexterity">
          <h4>DEX</h4>
          <p>7 (-2)</p>
        </div> <!-- ability dexterity -->
        <div class="ability-constitution">
          <h4>CON</h4>
          <p>18 (+4)</p>
        </div> <!-- ability constitution -->
        <div class="ability-intelligence">
          <h4>INT</h4>
          <p>9 (-1)</p>
        </div> <!-- ability intelligence -->
        <div class="ability-wisdom">
          <h4>WIS</h4>
          <p>18 (+4)</p>
        </div> <!-- ability wisdom -->
        <div class="ability-charisma">
          <h4>CHA</h4>
          <p>13 (+1)</p>
        </div> <!-- ability charisma -->
      </div> <!-- abilities -->
      <svg height="5" width="100%" class="tapered-rule">
      <polyline points="0,0 400,2.5 0,5"></polyline>
    </svg>
          <div class="property-block">
        <h4>Trained Skills</h4>
        <p>Knowledge (Religion) +3, Knowledge (History) +3, Knowledge (Planes) +3, Linguistics +3</p>
      </div> <!-- property line -->
          <div class="property-block">
        <h4>Abilities</h4>
        <p>Channel Energy (1d6), Touch of Good (Sp)</p>
      </div> <!-- property line -->
            <div class="property-block">
        <h4>Traits</h4>
        <p>Reactionary, Scholar of the Great Beyond</p>
      </div> <!-- property line -->
            <div class="property-block">
        <h4>Feats</h4>
        <p>Improved Initiative</p>
      </div> <!-- property line -->
      <div class="property-block">
        <h4>Languages</h4>
        <p>Common, Dwarven, Celestial</p>
      </div> <!-- property line -->

    </div> <!-- top stats -->
  <svg height="5" width="100%" class="tapered-rule">
    <polyline points="0,0 400,2.5 0,5"></polyline>
  </svg>
  <div class="property-block">
        <h4><i>Equipment:</i></h4>
    <p>Cleric's Kit, Traveller's Outfit</p>
  </div> <!-- property block -->
    <div class="property-block">
      <h4><i>Wealth:</i></h4>
    <p>4 gp, 9 sp</p>
  </div> <!-- property block -->
    <div class="property-block">
      <h4><i>Magic items:</i></h4>
    <p>&mdash;</p>
  </div> <!-- property block -->
  </div> <!-- section left -->
<div class="section-right">
  <div class="actions">
    <h3>Actions</h3>
    <div class="property-block">
            <h4><i>Warhammer.</i></h4>
      <p>+0 to hit, 1d8 bludgeoning damage.</p>
    </div> <!-- property block -->
    </div> <!-- actions -->
</div> <!-- section right -->
<hr class="orange-border bottom" />
</div> <!-- stat block -->
