<!DOCTYPE html>
<html>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />

<head>
	{% include analytics.html %}
	{% include head.html %}
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" href="/css/flickity.css" media="screen">
	{% seo %}
</head>

<body>
	<div id="header">
		{% include nav.html %}
	</div>
	<div id="content">
		<div class="container">
			{{ content }}
		</div>
		<!-- /.container -->
	</div>
	<footer>
		{% include footer.html %}
	</footer>
	{% include open-embed.html %}
</body>

</html>